/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111; /* Dark background */
}

/* Logo Styling */
.logo {
  width: 200px;
  height: 200px;
  animation: spin 6s linear infinite;
}

/* Spin Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
